footer {
    display:flex;
    flex-direction:column;
    justify-content: center;
    // background:$base;
    padding:2rem 0;
    // border:1px solid blue;
    a:not(#close) {
        font-size:9rem;
        color:$white;
        &:hover {
            border:none;
            color:$secondary;
        }
    }
    .wrapper {
        width:75%;
        margin:0 auto;
        // border:1px solid red;
         @include breakPoint(firstBreak) {
            width:85%;
        }
        @include breakPoint(secondBreak) {
            width:90%;
        }
        @include breakPoint(thirdBreak) {
            width:75%;
        }
        @include breakPoint(fifthBreak) {
            // border:1px solid red;
            width:100%;
            padding:0;
        }
    }
    section {
        width:100%;
        // border:1px solid red;
        h6 {
            text-align: center;
        }
    }
    .nav__container {
        text-align: center;
        padding:0;
        margin:4rem 0;
        .nav__listItem {
            margin:0 2rem;
        }
        span {
            display:block;
            font-size:2rem;
            // border:1px solid red;
            line-height:0;
        }
    }
}

// BAGELS 
.hide {
    display: none;
}
.show {
    display: block;
}

.bagels {
    position: absolute;
    animation-name: falling-bagels;
    animation-duration: 5s;
    /*animation-delay: 1s;*/
    animation-timing-function: ease-in-out;
    top: -500px;
    animation-iteration-count: 1;
}
.bagels1{
    left: 11%;
    animation-delay: 3s;
}
.bagels2 {
    left: 25%;
    animation-delay: 5s;
    animation-duration: 10s;
}
.bagels3 {
    left: 33%;
    animation-delay: 1.5s;
}
.bagels4{
    left: 79%;
    animation-delay: 4s;
}
.bagels5 {
    left: 62%;
    animation-delay: .8s;
}