footer {
    display:flex;
    flex-direction:column;
    justify-content: center;
    // background:$base;
    padding:2rem 0;
    // border:1px solid blue;
    a:not(#close) {
        font-size:9rem;
        color:$white;
        &:hover {
            border:none;
            color:$secondary;
        }
    }
    .wrapper {
        width:75%;
        margin:0 auto;
        // border:1px solid red;
         @include breakPoint(firstBreak) {
            width:85%;
        }
        @include breakPoint(secondBreak) {
            width:90%;
        }
        @include breakPoint(thirdBreak) {
            width:75%;
        }
        @include breakPoint(fifthBreak) {
            // border:1px solid red;
            width:100%;
            padding:0;
        }
    }
    section {
        width:100%;
        // border:1px solid red;
        h6 {
            text-align: center;
        }
    }
    .nav__container {
        text-align: center;
        padding:0;
        margin:4rem 0;
        .nav__listItem {
            margin:0 2rem;
        }
        span {
            display:block;
            font-size:2rem;
            // border:1px solid red;
            line-height:0;
        }
    }
}

.container--contact {
    border:1px dotted $base;
    display:none;
    opacity:0;
    background:$white;
    position: relative;
    width:50%;
}
.form__container {
    // border:1px solid hotpink;
    width:100%;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr min-content;
    grid-gap:3rem;
    padding:3rem;
    .wrapper {
        display:flex;
        flex-direction: column;
    }
    .form__input:not(.form__input--submit) {
        // margin-bottom:2rem;
        padding:1rem;
        border:none;
        border-bottom:1px solid $base;
        outline:none;
        &:focus {
            border-bottom:2px solid $base;
        }
    }
    .form__input--textArea {
        resize:none;
        border:none;
        border-bottom:1px solid $base;
        grid-row-end:2;
        grid-column: 2 / 3;
    }
    .form__input--submit {
        @include fontBase($headFont, uppercase);
        background:none;
        border:none;
        grid-column:1 / 2;
        grid-row:2 / 3;
        margin:2rem 0;
        padding:1rem 0;
        width:10rem;
        &:hover {
            border-top:1px solid $base;
            border-bottom:1px solid $base;
        }
    }
    .form__label {
        position: relative;
        top:3rem;
        z-index:1;
        grid-column:2 / 3;
        grid-row: 1;
        &:focus {
            text-align: right;
        }
    }
    .form__label--focus {
        text-align: right;
    }
}

.container--contact.show {
    display:inline;
    opacity:1;
    position: fixed;
    left:50%;
    top:29%;
    transform:translateX(-50%) translateY(-35%);
    z-index:50;
}

#close {
    font-size:2rem;
    // border:1px solid red;
    position: absolute;
    bottom:1rem;
    right:1rem;
}

// BAGELS 
.hide {
    display: none;
}
.show {
    display: block;
}

.bagels {
    position: absolute;
    animation-name: falling-bagels;
    animation-duration: 5s;
    /*animation-delay: 1s;*/
    animation-timing-function: ease-in-out;
    top: -500px;
    animation-iteration-count: 1;
}
.bagels1{
    left: 11%;
    animation-delay: 3s;
}
.bagels2 {
    left: 25%;
    animation-delay: 5s;
    animation-duration: 10s;
}
.bagels3 {
    left: 33%;
    animation-delay: 1.5s;
}
.bagels4{
    left: 79%;
    animation-delay: 4s;
}
.bagels5 {
    left: 62%;
    animation-delay: .8s;
}