header {
    // border:1px solid red;
    // display:flex;
    position: relative;
    nav {
        // border-bottom:1px solid $base;
        box-shadow:0px 1px 5px darken($light, 10%);
        position: fixed;
        width:100%;
        background:$white;
        padding:15px 0;
        z-index:5;
        ul {
            display: flex;
            flex-flow:row wrap;
            justify-content: flex-end;
            // border:1px solid red;
            li {
                list-style:none;
                a {
                    // border:1px solid red;
                    padding:0.5rem 2rem;
                }
            }
        }
    }
    section {
        // border-bottom:1px solid $base;
        box-shadow:inset 0px -1px 5px darken($light, 10%);
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width:100%;
        height:100vh;
        background:$light;
        figure {
            // border:1px solid red;
            width:50rem;
            overflow: hidden;
            position: relative;
            display:flex;
            justify-content: center;
            svg {
                top:15px;
            }
            #blinkingLashes {
                fill:transparent;
                animation:blinkLashes 2s infinite;
            }
            #wavingArm {
                animation:wave 2s infinite;
            }
            #eyeWhite {
                // fill:black;
                animation:blink 2s infinite;
                animation-fill-mode: blink;
            }
            #pupil {
                animation:pupil 2s infinite;
                animation-fill-mode: blink backwards;
            }
            #lipsSmile {
                fill:none;
                animation:smile 5s infinite;
            }
        }    
        figcaption {
            // border:1px solid purple;
            text-align: center;
            position: relative;
            bottom:10px;
        }
        h4 {
            @include fontBase($headFont, lowercase);
            @include fontSize(4rem, 0);
            letter-spacing:3px;
            font-weight:400;
            color:$secondary;
        }
    }
}

@keyframes wave  {
    0% {
        transform:rotateZ(0deg);
        transform-origin: bottom right;
    }
    25% {
        transform:rotateZ(1deg);
        transform-origin: bottom right;

    }
    50% {
        transform:rotateZ(0deg);
        transform-origin: bottom right;
    }
    100% {
        transform:rotateZ(1deg);
        transform-origin: bottom right;
    }
} 
