header {
    // border:1px solid red;
    // display:flex;
    position: relative;
    section {
        // border-bottom:1px solid $base;
        // box-shadow:inset 0px -1px 5px darken($light, 10%);
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width:100%;
        height:100vh;
        background:$light;
        figure {
            // border:1px solid red;
            width:50rem;
            overflow: hidden;
            position: relative;
            display:flex;
            justify-content: center;
            @include breakPoint(fifthBreak) {
                width:70%;
            }
            svg {
                align-self:center;
                width:100%;
            }
            #blinkingLashes {
                fill:transparent;
                animation:blinkLashes 2s infinite;
            }
            #wavingArm {
                animation:wave 2s infinite;
            }
            #eyeWhite {
                // fill:black;
                animation:blink 2s infinite;
                animation-fill-mode: blink;
            }
            #pupil {
                animation:pupil 2s infinite;
                animation-fill-mode: blink backwards;
            }
            #lipsSmile {
                fill:none;
                animation:smile 5s infinite;
            }
        }    
        figcaption {
            // border:1px solid purple;
            text-align: center;
            position: relative;
            bottom:10px;
        }
        h4 {
            @include fontBase($headFont, lowercase);
            @include fontSize(4rem, 0);
            letter-spacing:3px;
            font-weight:400;
            color:$secondary;
        }
        .wrapper {
            width:75%;
            position: fixed;    
            top:8.25rem;
            z-index:4;
            // border:1px solid red;
            display:flex;
            justify-content: space-between;
            align-items: center;
            @include breakPoint(firstBreak) {
            width:85%;
            }
            @include breakPoint(secondBreak) {
                width:90%;
            }
            @include breakPoint(thirdBreak) {
                width:75%;
            }
            @include breakPoint(fifthBreak) {
                width:100%;
            }
            @include breakPoint(seventhBreak) {
                align-items: flex-start;
            }
        }
    }
}

.container--cool {
    padding:0;
    background:rgba(247,247,247,0.8);
    .nav__listItem {
        a:hover {
            color:$secondary;
        }
    }
    .nav__listItem--cool {
        // border:3px solid pink;
        display:flex;
        align-items: baseline;
        @include breakPoint(seventhBreak) {
            flex-direction: column;
        }
    }
    ul {
        padding:0;
    }
    .nav__listItem--portfolio {
        animation-delay:0.15s;
    }
    .nav__listItem--about {
        animation-delay:0.30s;
    }
    .nav__listItem--phone {
        animation-delay: 0.45s;
    }
    .nav__listItem--email {
        animation-delay: 0.6s;
    }
}

.nav__container {
    display: flex;
    flex-flow:row nowrap;
    justify-content: flex-end;
    // border:1px solid red;
    .nav__listItem {
        list-style:none;
        a {
            padding:1rem;
            text-decoration: none;
            @include breakPoint(seventhBreak) {}
            padding-left:0;
        }
    }
}

.nav__container--header {
    padding:0;
    // display: inline-block;
    flex-direction: row;
    // border:1px solid red;
    @include breakPoint(seventhBreak) {
        flex-direction: column;
    }
}

.nav__container--fixed{
    margin:0;
    padding:0;
    background:rgba(255,255,255,0.7);
    .nav__listItem {
        width:min-content;
        text-align: right;
        margin:0;
        padding:0;
        // border:1px solid red;
        a {
            padding:0 0 0 1rem;
            color:$primary;
            &:hover, &:active {
            border:none;
            color:$secondary;
        }
        }
        i {
            font-size:2.5rem;
        }
    }
}