main {
    .wrapper {
        flex-flow: column wrap;
        // border:1px solid red;
        padding: 5rem 0;
        width:75%;
        margin:0 auto;
        @include breakPoint(firstBreak) {
            width:85%;
        }
        @include breakPoint(secondBreak) {
            width:90%;
        }
        @include breakPoint(thirdBreak) {
            width:75%;
        }
        @include breakPoint(fifthBreak) {
            // border:1px solid red;
            width:100%;
            padding:0;
        }
    }
}

.container {
    display:flex;
}

.container {
    .container__list {
        // border:1px solid red;
        display:flex;
        flex-flow:row wrap;
        justify-content: center;
        align-content: center;
        width:90%;
        padding:0;
        margin:0 auto;
        @include breakPoint(firstBreak) {
            // border:1px solid black;
            width:100%;
        }
        .nav__listItem {
            // border:1px solid red; 
            margin:1rem 0;
            width:calc(100% / 6);
            text-align: center;
            display: flex;
            flex-direction: column;
            i {
                font-size:9rem;
                @include breakPoint(fourthBreak) {
                    font-size:5rem;
                }
                @include breakPoint(sixthBreak) {
                    font-size:3.5rem;
                }
            }
            .fa-mobile-alt {
                color:lighten($base, 20%);
            }
            .fa-github-alt {
                color:#6e5494;
            }
            .firebase {
                align-self:center;

            }
            #firebase, .firebase {
                position: relative;
                bottom:1.2rem;
                @include breakPoint(sixthBreak) {
                    bottom:0.6rem;
                }
            }
            h5 {
                @include breakPoint(fourthBreak) {
                    font-size:1.7rem;
                }
                @include breakPoint(seventhBreak) {
                    display:none;
                } 
            }
        }
    }
    .firebase {
        width:75px;
        @include breakPoint(fourthBreak) {
            width:45.5px;
        }
        @include breakPoint(sixthBreak){
            width:30px;
        }
    }
    .card__text {
        // border:1px solid black;
        width:45%;
        position: relative;
        top:2.5rem;
        right:3rem;
        @include breakPoint(secondBreak) {
            width:50%;
        }
        @include breakPoint(thirdBreak) {
            width:70%;
            position: static;
            text-align: left;
        }
        @include breakPoint(fourthBreak) {
            width:85%;
        }
        @include breakPoint(fifthBreak) {
            background:rgba(255,255,255,0.7);
            width:100%;
            position: absolute;
            bottom:0;
            right:0;
            top:inherit;
            display:flex;
            justify-content: space-around;
            align-items: center;
            p:not(.card__text__p) {
                display:none;
            }
        }
        .card__line {
            position: absolute;
            width:150px;
            background:$base;
            border-bottom:2px solid $base;
            @include breakPoint(thirdBreak) {
                transform:rotate(90deg);
                width:75px;
                left:-10rem;
            }
            @include breakPoint(fourthBreak) {
                left:-5rem;
            }
            @include breakPoint(fifthBreak) {
                display:none;
            }
        }
        .card__line--odd{
            left:40rem;
            @include breakPoint(firstBreak) {
                left:38rem;
            }
            @include breakPoint(thirdBreak) {
                left:-10rem;
            }
            @include breakPoint(fourthBreak) {
                left:-5rem;
            }
        }
        .card__list {
            margin:2rem auto;
            display:flex;
            justify-content: flex-end;
            padding:0;
            // border:1px solid red;
            @include breakPoint(thirdBreak) {
                justify-content: flex-start;
            }
            @include breakPoint(fifthBreak) {
                display:none;
            }
            li {
                padding:0 0 0 2rem;
                @include breakPoint(thirdBreak) {
                    padding:0 2rem 0 0;
                }
            }
        }
    }
}

.container:nth-child(2):not(.container--portfolio):not(.container--contact){
    background:$light;
    h3 {
        color:lighten($base, 20%);
    }
}

.container--portfolio {
    // border:1px solid cornflowerblue;
    flex-direction:row-reverse;
    justify-content: flex-start;
    text-align: right;
    margin:3rem auto;
    @include breakPoint(thirdBreak) {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    @include breakPoint(fifthBreak) {
        margin:0;
    }
    .container__image {
        // border:1px solid red;
        width:50rem;
        height:auto;
        box-shadow:1px 1px 1rem darken($light, 5%);
        transition:box-shadow 0.2s ease-in-out;
        &:hover {
            box-shadow:1px 1px 1.5rem darken($light, 20%);
        }
        @include breakPoint(thirdBreak) {
            width:100%;
        }
    }
    
    .card__text--even {
        // border:1px solid red;
        left:3rem;
        @include breakPoint(fifthBreak) {
            left:0;
        }
        .card__line--even {
            right:40rem;
            // border:1px solid red;
        }
        .card__list {
            justify-content: flex-start;
            @include breakPoint(thirdBreak) {
                justify-content: flex-start;
            }
            li {
                padding:0 2rem 0 0;
            }
        }
    }
    a {
        padding:0.5rem 1rem;
    }
}

.container:nth-of-type(even) {
    // border:2px solid green;
    flex-direction:row;
    text-align:left;
}

// ABOUT

#about {
    z-index:-5;
    background:$light;
    .container--about {
        @include breakPoint(fourthBreak) {
            flex-direction:column;
        }

    }
    h3 {
        margin-bottom:5rem;
        @include breakPoint(fifthBreak) {
            margin:0;
        }
    }
    h4 {
        margin-top:1rem;
        line-height:1.5;
        @include breakPoint(fifthBreak) {
            margin:0;
            text-align: right;
        }
    }
    h5 {
        line-height:0;
        color:$primary;
        letter-spacing:0.5px;
    }
    .container__image--about {
        // border:1px solid red;
        width:40rem;
        height:40rem;
        margin:0 auto;
        box-shadow: -2rem 2rem 0 darken($light, 20%);
        overflow: hidden;
        @include breakPoint(thirdBreak) {
            height:40rem;
        }
        @include breakPoint(fourthBreak) {
            height:50rem;
            width:100%;
        }
        @include breakPoint(fifthBreak) {
            box-shadow:none;
            height:auto;
            overflow:inherit;
        }
        img {
            position: relative;
            bottom:10rem;
            @include breakPoint(fourthBreak) {
                bottom:13rem;
            }
            @include breakPoint(fifthBreak) {
                bottom:0;
            }
        }
    }
    .card__text--about {
        // border:1px solid purple;
        width:45%;
        top:5rem;
        left:-6rem;
        height:70%;
        h4, h5 {
            padding:0 2.5rem;
        }
        p {
            margin-top:2.5rem;
            line-height:1.75;
            padding:0 2.5rem;
        }
        @include breakPoint(thirdBreak) {
            text-align: left;
            position: relative;
            width:60%;
            left:0;
        }
        @include breakPoint(fourthBreak) {
            width:85%;
            margin:0 auto;
            left:0;
        }
        @include breakPoint(fifthBreak) {
            flex-direction: column;
            justify-content: center;
            width:100%;
            height:50%;
            top:0;
        }
    }
    .card__line--about {
        width:225px;
        left:-5rem;
        @include breakPoint(thirdBreak) {
            transform:rotate(0deg);
        }
        @include breakPoint(fourthBreak) {
            transform: rotate(90deg);
            left:-7rem;
            width:90px;
        }
    }
}