.primary, .secondary, .base, .accent {
    width:300px;
    height:300px;
}

.primary {
    background:$primary;
}

.secondary {
    background:$secondary;
}

.base {
    background:$base;
}

.accent {
    background:$accent;
}

.wrapper {
    display:flex;
    width:600px;
    flex-flow: row wrap;
}