$white:#FFF;
$base:#333333;
$light:#f7f7f7;
$primary:#687c9f;
$secondary:#8baeea;
$accent:#b88faf;

@mixin position($position, $top, $right, $bottom, $left) {
    position: $position;
    top:$top;
    right:$right;
    bottom:$bottom;
    left:$left;
}

@keyframes blink {
    0% {
        fill:white;
    }
    20% {
        fill:lighten(#e5ae89, 10%);
    }
    50% {
        fill:white;
    }
    100% {
        fill:lighten(#e5ae89, 10%);
    }
}

@keyframes blinkLashes {
    0% {
        fill:none;
    }
    20% {
        fill:black;
    }
    50% {
        fill:none;
    }
    100% {
        fill:black;
    }
}

@keyframes pupil {
    0% {
        fill:black;
    }
    20% {
         fill:none;
    }
    50% {
        fill:black;
    }
    100% {
        fill:none;
    }
}

@keyframes smile {
    0% {
        fill:none;
    }
    100% {
        fill:#d00000;
        /* fill:palevioletred; */
    }
}


@keyframes wave  {
    0% {
        transform:rotateZ(0deg);
        transform-origin: bottom right;
    }
    25% {
        transform:rotateZ(1deg);
        transform-origin: bottom right;

    }
    50% {
        transform:rotateZ(0deg);
        transform-origin: bottom right;
    }
    100% {
        transform:rotateZ(1deg);
        transform-origin: bottom right;
    }
} 



@mixin breakPoint($point) {
    @if $point == firstBreak {
        @media (max-width:1270px) { @content;}
    }
    @if $point == secondBreak {
        @media (max-width:1120px) { @content;}
    }
    @if $point == thirdBreak {
        @media (max-width:1002px) { @content;}
    }
    @if $point == fourthBreak {
        @media (max-width:785px) {@content;}
    }
    @if $point == fifthBreak {
        @media (max-width:635px) {@content;}
    }
    @if $point == sixthBreak {
        @media (max-width:500px) {@content;}
    }
    @if $point == seventhBreak {
        @media (max-width:450px) {@content;}
    }
}