$white:#FFF;
$base:#3a3a3a;
$light:#e1e1e1;
$primary:#687c9f;
$secondary:#8baeea;
$accent:#b88faf;

@mixin position($position, $top, $right, $bottom, $left) {
    position: $position;
    top:$top;
    right:$right;
    bottom:$bottom;
    left:$left;
}

@keyframes blink {
    0% {
        fill:white;
    }
    20% {
        fill:#DDB898;
    }
    50% {
        fill:white;
    }
    100% {
        fill:#DDB898;
    }
}

@keyframes blinkLashes {
    0% {
        fill:none;
    }
    20% {
        fill:black;
    }
    50% {
        fill:none;
    }
    100% {
        fill:black;
    }
}

@keyframes pupil {
    0% {
        fill:black;
    }
    20% {
         fill:none;
    }
    50% {
        fill:black;
    }
    100% {
        fill:none;
    }
}

@keyframes smile {
    0% {
        fill:none;
    }
    100% {
        fill:#d00000;
        /* fill:palevioletred; */
    }
}

@mixin breakPoint($point) {
    @if $point == firstBreak {
        @media (max-width:1165px) { @content;}
    }
    @if $point == secondBreak {
        @media (max-width:1080px) { @content;}
    }
    @if $point == thirdBreak {
        @media (max-width:940px) { @content;}
    }
    @if $point == fourthBreak {
        @media (max-width:840px) {@content;}
    }
    @if $point == fifthBreak {
        @media (max-width:775px) {@content;}
    }
    @if $point == sixthBreak {
        @media (max-width:675px) {@content;}
    }
    @if $point == seventhBreak {
        @media (max-width:450px) {@content;}
    }
}