@import 'partials/_setup.scss';
@import 'partials/_utils.scss';
@import 'partials/_typography.scss';

* {
    margin:0;
    transition:color 0.3s ease-in-out;
}

body {
    background: $white;
    font-family:$baseFont;
    @include fontSize(1.4rem, 1.5);
    @include fontBase($baseFont, none);
}

@import 'partials/_header.scss';
@import 'partials/_main.scss';
@import 'partials/_footer.scss';

img {
    width:100%;
    display:block;
}

.wrapper {
    display:flex;
}

h1, h2, h3, h4, h5, a {
    @include fontBase($headFont, uppercase);
    z-index:5;
}

h1 {
    @include fontSize(8rem, 1);
    color:$base;
    letter-spacing:2px;
    text-shadow:1px 1px 2px $light;
}

h3 {
    @include fontSize(4rem, 1);
    color:darken($light, 10%);
}

h4 {
    @include fontSize(2.5rem, 2.5);
    color:$base;
}

h5 {
    @include fontSize(2rem, 2);
}

h6 {
    font-size:1.4rem;
    color:$primary;
    text-transform:lowercase;
    &:hover {
        color:$secondary;
        // cursor: url(../../assets/pointer.png), auto;
        cursor:pointer;
    }
}

a:not(.header) {
    text-decoration: none;
    color:$base;
    transition:border 0.2s ease-in-out;
    &:hover {
        border-top:1px solid $base;
        border-bottom:1px solid $base;
    }
}

li {
    list-style:none;
}

section:not(.container--last) {
    box-shadow:inset 0px -1px 5px darken($light, 5%);
}